.MainPageCoursesListSectionBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainPageCoursesListSectionBody>div {
  padding: 0;
}

.MainPageCoursesListSectionList {
  gap: 60px;
  padding: 100px 0;
  column-gap: 166px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

@media screen and (max-width: 1200px) {
  .MainPageCoursesListSectionBody {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .MainPageCoursesListSectionBody>div {}

  .MainPageCoursesListSectionList {
    gap: 30px;
    padding: 100px 0;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 860px) {
  .MainPageCoursesListSectionList {
    gap: 40px;
    padding: 100px 0;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 360px) {}