.CoursePageDetailsSectionBody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  background: url("./img//MainPageWhatBackground.png") center center no-repeat;
  background-size: cover;
  color: #fff;
}

.CoursePageDetailsSectionBody > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}

.CoursePageDetailsSectionBody h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 200;
}

.CoursePageDetailsSectionBody > div > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: min-content;
  min-width: 228px;
}

.CoursePageDetailsSectionBody > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  font-weight: 400;
}

span {
  font-size: 18px;
}

.DetailsContainerType {
}

.DetailsContainerClient {
}

.DetailsContainerDate {
}

.CoursePageDetailsSectionToolsContainer {
}

.ToolsContaineritem_text {
}

.CoursePageDetailsSectionSkillsContainer {
}

.SkillsContaineritem_text {
}

@media screen and (max-width: 1200px) {
  .CoursePageDetailsSectionBody > div {
    padding: 0 100px;
  }
}

@media screen and (max-width: 950px) {
  .CoursePageDetailsSectionBody > div {
    padding: 0 50px;
    gap: 50px;
  }
  .CoursePageDetailsSectionBody > div > div {
    min-width: 188px;
  }
  .CoursePageDetailsSectionBody > div > div:last-of-type {
    min-width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .CoursePageDetailsSectionBody > div {
    padding: 0 20px;
    justify-content: center;
  }

  .CoursePageDetailsSectionBody h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
  }

  .CoursePageDetailsSectionBody > div > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min-content;
    // border: 1px solid red;
  }

  .CoursePageDetailsSectionBody > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (max-width: 800px) {
  .CoursePageDetailsSectionBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 460px;
    background: url("./img//MainPageWhatBackground.png") center center no-repeat;
    background-size: cover;
    color: #fff;
  }
  .CoursePageDetailsSectionBody > div {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // justify-content: space-between;
    gap: 20px;
    // border: 1px solid red;
    padding: 50px;
  }

  .CoursePageDetailsSectionBody > div > div {
    display: flex;
    flex-direction: column;

    // border: 1px solid red;
  }

  .CoursePageDetailsSectionBody > div > div:nth-last-of-type(2) {
    align-items: center;
    align-self: center;
  }

  .CoursePageDetailsSectionBody > div > div:last-of-type {
    align-items: center;
    align-self: flex-end;
    min-width: 188px;
  }
}

@media screen and (max-width: 600px) {
  .CoursePageDetailsSectionBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 460px;
    background: url("./img//MainPageWhatBackground.png") center center no-repeat;
    background-size: cover;
    color: #fff;
  }
  .CoursePageDetailsSectionBody > div {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // justify-content: space-between;
    gap: 50px;
    // border: 1px solid red;
    padding: 50px;
  }

  .CoursePageDetailsSectionBody > div > div {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 10px;
    // border: 1px solid red;
    min-width: 230px;
  }

  .CoursePageDetailsSectionBody > div > div:nth-last-of-type(2) {
    align-items: center;
    align-self: center;
  }

  .CoursePageDetailsSectionBody > div > div:last-of-type {
    align-items: center;
    align-self: center;
  }
}
