header {
  background: url("./img/headerBg1440.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 350px;
  // min-height: 250px;
  display: flex;
  justify-content: center;
  position: relative;
  // border-bottom-right-radius: 800px;
  // border-bottom-left-radius: 800px;
  // border-top-left-radius: 800px;
}

header > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.courseHeader {
  min-height: 250px;
  position: relative;
}

// .headerContent {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
img {
  width: 143.066px;
  height: 115.839px;
}

.imgbook {
  width: 143.066px;
  height: 115.839px;
}

h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 100;
  display: flex;
  align-items: center;
}
h2 {
  color: #fff;
  font-weight: 200;
}

nav {
  position: absolute;
  bottom: 15px;
  display: flex;
  align-items: center;
}
nav svg {
  width: 20px;
  height: 20px;
}

.courseHeader nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 35px;
  top: -60%;
}
.courseHeader nav li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.courseHeader nav li p {
  padding-bottom: 3px;
}

nav ul {
  display: flex;
  gap: 27px;
}
nav ul li {
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  position: relative;
}

// nav ul li::before {
//   content: "";
//   position: absolute;
//   width: 0;
//   height: 1px;
//   bottom: 0;
//   left: 0;
//   background: #fff;
//   transition: all 0.2s linear;
// }

// nav ul li:hover::before {
//   width: 100%;
// }

.headerNavFixed {
  position: fixed;
  top: 5%;
  right: 0;

  // left: -95%;
  z-index: 99;
  width: 100%;
  height: min-content;
  padding: 10px 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: flex-end;
  // background: rgba(72, 121, 255, 0.542);
  // backdrop-filter: blur(9px);
  // box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.542);
  // border-radius: 100px;
}

// .headerNavFixed:hover {
//   left: -80%;
// }

.headerNavFixed ul {
  // flex-direction: column;
  align-items: center;
}
.headerNavFixed li {
  color: #000 !important;
  position: relative;
  overflow: visible;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}
.headerNavFixed li:first-of-type::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  // background-color: #000;
  bottom: -50%;
  left: 0;
}

.navBook {
  width: 50px;
  height: 50px;
  // display: none;
  opacity: 0;
  position: absolute;
  left: 50px;
  // transition: all 0.1s linear;
}
.headerNav .navBook {
  // left: 250px;
}

.headerNavFixed .navBook {
  opacity: 1;
  // margin-right: 0;
  // left: 320px;
}

.courseHeader .headerNavFixed {
  justify-content: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  width: max-content;
}
.courseHeader .headerNavFixed img {
}

.headerNavFixed li::before {
  // background: #000 !important;
}

nav svg path {
  fill: #fff;
}

.headerNavFixed svg path {
  fill: #000;
}

@media screen and (max-width: 860px) {
  header {
    min-height: 300px;
  }

  header > div {
    padding-top: 2rem;
  }

  img {
    width: 117.066px;
    height: 95.839px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    color: #fff;
    font-weight: 200;
  }

  nav {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
  }

  .courseHeader {
    min-height: 150px;
  }

  .courseHeader nav {
    padding-left: 20px;
  }
  .courseHeader nav li p {
    font-size: 18px;
  }
  .courseHeader nav li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  nav ul {
    display: flex;
    gap: 27px;
  }
  nav ul li {
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  header {
    min-height: 250px;
  }

  header > div {
    padding-top: 2rem;
  }

  .courseHeader {
    min-height: 100px;
  }

  img {
    width: 106px;
    height: 86px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    color: #fff;
    font-weight: 200;
    font-size: 15px;
  }

  nav {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
  }
  .courseHeader nav {
    padding-left: 15px;
    top: -20px;
  }

  .courseHeader nav li p {
    font-size: 14px;
  }
  // nav svg {
  //   width: 12px;
  //   height: 12px;
  // }

  .courseHeader nav li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .courseHeader nav li p {
    padding-bottom: 3px;
  }

  nav ul {
    display: flex;
    gap: 27px;
  }
  nav ul li {
    font-size: 15px;
  }

  .headerNavFixed {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 99;
    width: 100%;
    height: min-content;
    padding: 10px 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerNavFixed li {
    color: #000 !important;
    position: relative;
    overflow: visible;
  }
  .headerNavFixed li:first-of-type::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -50%;
    left: 0;
  }

  .courseHeader .headerNavFixed {
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
  }
  nav svg path {
    fill: #fff;
  }

  .headerNavFixed svg path {
    fill: #000;
  }
}

@media screen and (max-width: 480px) {
  .courseHeader nav li p {
    display: none;
  }
  nav svg {
    width: 15px;
    height: 15px;
  }

  .courseHeader nav {
    padding-left: 20px;
    top: -50px;
  }
}

@media screen and (max-width: 360px) {
  header {
    min-height: 180px;
  }

  header > div {
    padding-top: 2rem;
  }

  .courseHeader {
    min-height: 50px;
  }

  img {
    width: 86px;
    height: 56px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    color: #fff;
    font-weight: 200;
    font-size: 12px;
  }

  nav {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
  }

  .courseHeader nav {
    top: 50%;
    transform: translateY(-50%);
  }
  .courseHeader nav li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .courseHeader nav li p {
    padding-bottom: 3px;
  }

  nav ul {
    display: flex;
    gap: 27px;
  }
  nav ul li {
    font-size: 13px;
  }

  .headerNavFixed {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 99;
    width: 100%;
    height: min-content;
    padding: 10px 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerNavFixed li {
    color: #000 !important;
    position: relative;
    overflow: visible;
  }
  .headerNavFixed li:first-of-type::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -50%;
    left: 0;
  }

  .courseHeader .headerNavFixed {
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
  }
  nav svg path {
    fill: #fff;
  }

  .headerNavFixed svg path {
    fill: #000;
  }
}

.scroll_to_top_visible {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  position: fixed;
  right: 30px;
  top: 90dvh;
  cursor: pointer;
  z-index: 99;
  transition: opacity 0.1s ease;
  opacity: 1;
}
.scroll_to_top_visible svg {
  width: 20px;
  height: 20px;
}

.scroll_to_top_invisible {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  position: fixed;
  right: 30px;
  top: 90dvh;
  cursor: pointer;
  z-index: 99;
  // transition: all 2s ease;
  opacity: 0;
}
