footer {
  width: 100%;
  height: 100px;
  padding: 2.5rem 0;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background: #000000;
  color: #fff;
}

.tgIconBody {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.2rem;
  border-radius: 20%;
  background-color: #2b8aba;
  color: #fff;
}
.tgIconBody img {
  width: 100%;
  height: 100%;
}

.email {
  color: #fff;
}
.email:hover {
  color: #fff;
}
