.CoursePageScreenshotsListSectionBody {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.CoursePageScreenshotsListSectionBody>div {}

.CoursePageScreenshotsListSectionList {
  gap: 60px;
  padding: 100px 0;
  column-gap: 50px;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.CoursePageScreenshotsScreenshotItem img {
  // width: 420px;
  // height: 250px;
  width: 471px;
  height: 290px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;

}

@media screen and (max-width: 1280px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 320px;
    height: 220px;
  }
}

@media screen and (max-width: 1200px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 250px;
    height: 180px;
  }
}

@media screen and (max-width: 1000px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 320px;
    height: 220px;
  }

  .CoursePageScreenshotsListSectionList {
    gap: 60px;
    padding: 100px 0;
    column-gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 250px;
    height: 180px;
  }

  .CoursePageScreenshotsListSectionList {
    gap: 60px;
    padding: 100px 0;
    column-gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 250px;
    height: 180px;
  }

  .CoursePageScreenshotsListSectionList {
    // gap: 30px;
    padding: 100px 0;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 320px;
    height: 220px;
  }

  .CoursePageScreenshotsListSectionList {
    // gap: 30px;
    padding: 100px 0;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 360px) {
  .CoursePageScreenshotsScreenshotItem img {
    width: 250px;
    height: 150px;
  }

  .CoursePageScreenshotsListSectionList {
    gap: 30px;
    padding: 100px 0;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.bigScreenshootContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}

body:has(.bigScreenshootContainer.opened) {
  position: fixed;

}

*:has(.bigScreenshootContainer) {
  scroll-behavior: auto;

}


.bigScreenshootContainer.opened {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  z-index: 999;
  position: fixed;
}

.bigScreenshootContainer img {
  width: 100% !important;
  height: 100% !important;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}